{% extends "base.html" %}

{% block content %}
    <form method="POST" action="/task" class="uk-text-center uk-grid-small" autocomplete="off" uk-grid>
        <div class="uk-width-expand">
            <input class="uk-input" type="text" placeholder="New task" name="content" autofocus required></div>
            <div>
                <button class="uk-button uk-button-danger" type="submit">Add</button>
            </div>
        </form>
        <table class="uk-table uk-table-divider">
            <thead>
                <tr>
                    <th>Task</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>
                            {% if not task.is_finished %}
                                <span class="uk-text-emphasis">{{ task.content }}</span>
                            {% else %}
                                <s class="uk-text-danger">
                                    <span class="uk-text-muted">{{ task.content }}</span>
                                </s>
                            {% endif %}
                        </td>
                        <td class="table-buttons uk-width-auto">
                            {% if not task.is_finished %}
                                <form method="POST" action="/task/finish/{{ task.id }}">
                                    <button type="submit" class="uk-button uk-button-text uk-button-small">Done</button>
                                </form>
                            {% else %}
                                <button class="uk-button uk-button-text uk-button-small" disabled>Done</button>
                            {% endif %}
                        </td>
                        <td class="table-buttons uk-width-auto">
                            <form method="POST" action="/task/delete/{{ task.id }}">
                                <button type="submit" class="uk-button uk-button-text uk-button-small">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="uk-text-center">
                            <small class="uk-text-muted">Your tasks will appear here.</small>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}